/* whole page */
body {
    margin: 20px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
/*main heading*/
h1 {
    color: #2c3e50;
    text-align: center;
}
/*subheadings*/
h2 {
    color: #2980b9;
}
/*normalparagraph text*/
p {
    color: #333;
}
/*list items*/
ul {
    padding left: 20px;
}
li {
    margin-bottom: 5px;
}
